.footer {
  background-color: $footer-background;
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 0 100px 0 0;
  text-align: center;
}

.footer__logo {
  margin-bottom: 5rem;
}

.footer__title {
  font-size: 1.125rem;
  margin-bottom: 1.875rem;
  color: $white;
}

.footer__list {
  font-size: 1.125rem;
  margin-bottom: 3rem;

  li {
    margin-bottom: 0.625rem;
  }

  a {
    color: $footer-text;
    text-decoration: none;
    display: inline-block;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    display: none;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .footer {
    text-align: left;
    min-height: 360px;
  }

  .footer__title,
  .footer__list {
    font-size: 0.9375rem;
    position: relative;
    top: 0.5rem;
    left: -0.25rem;
  }

  .footer__list {
    margin-bottom: 0;
  }
}
