.section {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}

.section__body {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.section__title {
    text-align: center;
    letter-spacing: -0.04em;
}

.section__text {
    font-size: 17px;
    line-height: 1.65;
    color: $body-copy;

    + .section__text {
        margin-top: 2.75rem;
    }

    h3 {
        line-height: 1.2;
        margin-bottom: 1.5rem;
    }
}

.section__image {
    display: block;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.section__image--editor {
    margin: 0 -2.5rem 3rem;
}

.section__image--laptop {
    margin: 0 -5.75rem 2.5rem;
}

.section__image--phones {
    margin: -285px -1.625rem 2.5rem;
}

.section_1 {
    padding-bottom: 65px;
}

.section_2 {
    background: url("../images/bg-pattern-circles.svg") no-repeat -110px -240px, linear-gradient(to bottom, hsl(237deg, 17%, 21%), hsl(237deg, 23%, 32%));
    background-size: 605px, 100%;
    border-radius: 0px 100px 0 100px;
    min-height: 400px;
    margin-top: 185px;
    overflow: visible;
    text-align: center;

    h2 {
        font-size: 2.25rem;
        line-height: 1.35;
        color: $white;
        margin-bottom: 1.25rem;
    }

    .section__text {
        color: $white;
        margin-top: -1.5rem;
    }
}

.section_3 {
    padding-top: 60px;
}

@media (min-width: 576px) {
    .section__image {
        margin-left: auto;
        margin-right: auto;
    }

    .section__image--editor {
        max-width: 400px;
    }

    .section__image--laptop {
        max-width: 500px;
    }
}

@media (min-width: 992px) {
    .section {
        position: relative;
        overflow: hidden;
    }

    .section_1 {
        padding-top: 150px;
        min-height: 955px;
    }

    .section_2 {
        background: url("../images/bg-pattern-circles.svg") no-repeat -212px -510px, linear-gradient(to right, hsl(237deg, 17%, 21%), hsl(237deg, 23%, 32%));
        text-align: left;
        max-width: 1440px;
        margin: 56px auto 0;
        overflow: visible;

        .section__text {
            margin: 0;
            position: relative;
            top: 14px;
            left: -10px;
        }
    }

    .section_3 {
        padding-top: 114px;
        padding-bottom: 60px;
        min-height: 902px;

        .row {
            min-height: 870px;
        }
    }

    .section__title {
        font-size: 2.5rem;
        margin-bottom: 6.25rem;
    }

    .section__body {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }

    .section_1 .section__body {
        margin-right: -3px;
    }

    .section__text {
        margin-bottom: 4.75rem;

        h3 {
            margin-bottom: 1.625rem;
            letter-spacing: 0.01em;
        }
    }

    .section__image--editor img {
        position: absolute;
        top: 68px;
        left: 55%;
        width: 930px;
    }

    .section__image--laptop img {
        position: absolute;
        top: 114px;
        right: 50%;
        width: 1000px;
    }

    .section__image--phones {
        position: relative;

        img {
            position: absolute;
            top: 115px;
            left: -15px;
        }
    }
}
