$cta-text: hsl(356, 100%, 66%);
$cta-hover-bg: hsl(355, 100%, 74%);
$headings: hsl(208, 49%, 24%);
$footer-text: hsl(240, 2%, 79%);
$body-copy: hsl(207, 13%, 34%);
$footer-background: hsl(240, 10%, 16%);

$very-light-red: hsl(13, 100%, 72%);
$light-red: hsl(353, 100%, 62%);

$very-dark-gray-blue: hsl(237, 17%, 21%);
$very-dark-desaturated-blue: hsl(237, 23%, 32%);

$white: hsl(0, 0%, 100%);
$light: hsl(0, 0%, 94%);
$black: hsl(0, 0%, 0%);

$grid-gutter-width: 3rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1158px
);
